<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
<div style="width:80%;margin: 0 auto;height:auto;box-sizing: border-box;">
<label style="font-size:24px;font-family: 'Muli', sans-serif;line-height:42px;">

Hello <%= @user.first_name %>, <br/>
An alert has been generated in your MADS workspace of organisation <%= @user.org.name %> at <%=@alert.inserted_at.year%>.<%=@alert.inserted_at.month%>.<%=@alert.inserted_at.day%>. Below are the details. <br/> <br/>
App:         &ensp; <%= Atom.to_string(@alert.app) %> <br/>
Alert Rule:  &ensp; <%= @alert.name %> <br/>
Condition:   &ensp; <%= Atom.to_string(@alert.policy_name) %> <br/>
Severity:    &ensp; <%= Atom.to_string(@alert.severity) %><br/>
Time:        &ensp; <%=@alert.inserted_at.hour%>H <%=@alert.inserted_at.minute%>M <%=@alert.inserted_at.second%>S<br/>
<br/>
    Thank you. <br/>
    <br/>
  Regards,<br/>
  MADSbot<br/>
</label>
</div>
</body>
</html>
